@media screen and (max-width: 375px) {
  .mobile {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.customNav { 
  display: flex;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: flex-end;
  margin: 20px;
}

li {
   list-style-type: none;
}

ul {
  padding: 0;
}

  /* #sad button {
  border-radius: 1px;
  margin: 50px;

} */

 /* #red:hover  {
  background-color: rgba(196, 89, 89, 0.776);
}

#yellow:hover {
  background-color: rgba(219, 221, 98, 0.81);
}

#green:hover {
  background-color: rgba(187, 228, 120, 0.7);
} */



/* Cloudinary Styling */

.Picture {
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Picture .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: .5px solid grey;
}

.Picture .right-side {
  border-left: .5px solid grey;
}

.Picture .left-side,
.Picture .right-side {
  height: 300px;
  width: 100%;
}

.Picture .left-side form {
  height: fit-content;
  background: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 300px;
  padding: 40px 10px;
}

.Picture .left-side form input {
  margin: 0 0 30px;
  width: 200px;
}

.Picture .left-side form .btn {
  height: 40px;
  width: 200px;
  background: white;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 4px;
}

.Picture .left-side form .btn:hover {
  color: white;
  background: grey;
}

.Picture .left-side form .btn:focus {
  box-shadow: none;
  outline: none;
}

.Picture .left-side form .btn.widget-btn {
  margin-top: 15px;
  background: #800080;
  border: 1px solid #800080;
  color: #FFFFFF;
}

.Picture .left-side form .btn.widget-btn:hover {
  margin-top: 15px;
  background: #4B0082;
  border: 1px solid #4B0082;
  color: #FFFFFF;
}

.Picture .right-side .displayed-image {
  height: 300px;
  width: 300px;
}